body {
	margin: 0;
  font-family: 'Roboto Condensed', Arial;
  font-weight: 400;
	font-size: 16px;
  font-variant-ligatures: no-common-ligatures;
}

ul {
	width: 100%;
	margin: 30px 0px;
	padding: 0;
}

li {
  list-style: none;
  padding-bottom: 10px;
}


.text-center {
  text-align: center;
}

.logo-offset {
  margin-right: 110px;
}

.nav-content {
  margin-top: 4px;
  line-height: 69px;
  margin-left: 30px;
  font-family: 'Roboto Condensed';
	font-weight: 300;
  color: white;
}

.nav-picture {
	color: white;
	padding-left: 30px;
}

.nav-picture:hover {
	color: tomato;
}

.nav-icon {
	position: absolute;
	right: 30px;
}

.jumbo-pic {
  font-size: 240px !important;
  margin-top: -30px;
}

#menu {
	position:fixed;
	top:0px;
	width:100%;
	height:90px;
	background-color:#243657;
	z-index:9999;
	display: none;
  font-size: 26px;
}

.header-container {
  font-family: 'Roboto Condensed';
	font-weight: 900;
  color: white;
}

.header {
  position: relative;
  height: 90px;
  display: flex;
}

.header-two {
  position: relative;
  height: 90px;
  display: flex;
}

.jake {
  line-height: 90px;
  font-size: 90px;
	font-weight: 300;
  margin: 0 auto;
}

.portrait {
  min-height: 420px;

}

.image-container {
    margin: 0 auto;
    display: flex;
    width: 50%;
    float: left;
    margin-top: 100px;
}
.picture {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: black;
  margin: 0 auto;
  margin-top: 10px;
}

.github-picture {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
}

.github-picture a {
  color: white;
}

.github-picture a:hover {
  color: tomato;
}

.content {
  overflow-x: hidden;
}

.content-header {
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 26px;
	padding-top: 10px;
}

.summary-container {
	margin-top: -40px;
	padding-top: 40px;
	height: 100%;
}

.summary-section {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 3px 3px 20px black;
}

.summary {
  padding: 30px 50px;
  margin-top: 10px;
}

.summary-end {
  padding: 60px 50px;
}

.hidden {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

hr {
  width: 50%;
  margin-top: 0;
	margin-bottom: 0;
}

.about-pane {
  margin: 0 auto;
  display: flex;
  width: calc(33.33% - 10px);
  float: left;
  padding-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
}

.section-header {
	font-size: 26px;
	background-color: white;
	margin: 10px 0px;
}

.hero {
	height: 100vh;
	min-height: 950px;
	width: 100%;
	background-image: url('../assets/galaxy.jpg');
}

.education-pane {
  background-color: white;
	width: 100%;
	padding: 0px 50px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px black;
	height: 750px;
}

.education-img {
	max-height: 200px;
}

.about-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
	padding: 10px 0px 0px 0px;
	background-color: white;
}

.skills-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: center;
	text-align: center;
  display: table;
	background-color: #243657
}

.skills-pane {
	display: inline-block;
  margin: 0 auto;
  margin: 10px;
  background-color: white;
  width: calc(50% - 50px);
  height: 140px;
  border-radius: 10px;
  width: 450px;
  box-shadow: 3px 3px 20px black;
}

.skills-box {
	align-self: center;
	overflow: auto;
}

.star {
	font-size: 26px !important;
}

.devicon {
  padding-left: 30px;
  padding-top: 40px;
  margin-right: 5%;
  font-size: 60px;
  float: left;
}

.skill-label {
  margin-left: 100px;
}

@media only screen and (min-width: 0px) and (max-width: 619px) {
	.hero {
		min-height: 1250px;
	}

	.education-pane {
		max-height: 1050px;
	}
}

@media only screen and (min-width: 620px) and (max-width: 757px) {
	.hero {
		min-height: 1050px;
	}
}


@media only screen and (min-width: 0px) and (max-width: 1000px) {
	.about-pane {
		width: calc(100% - 10px);
	}

	.body {
		width: 500px;
		overflow: hidden;
	}

	.text-center {
		font-size: 26px;
	}

	.summary-section {
		max-width: calc(100% - 10px);
	}

	}
}
@media only screen and (min-width: 1001px) (max-width: 1500px) {

}
